@page
@model IndexModel

<head>


    <title>Главная старница</title>
</head>
<body>
    <div class="tp-banner-container ver1">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE  -->
                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="6" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="assets/images/1.jpg" alt="Futurelife-home2-slideshow" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption large_bold_grey color-white skewfromleft customout size-90"
                         data-x="955"
                         data-y="385"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="800"
                         data-start="1600"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 9">
                    </div>
                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption large_normal_grey font-ro color-brand skewfromright customout size-60"
                         data-x="960"
                         data-y="450"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="800"
                         data-start="1700"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 7">
                    </div>

                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption welcome size-16 skewfromright customout"
                         data-x="964"
                         data-y="550"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="800"
                         data-start="1800"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 7">
                    </div>

                    <!-- LAYER NR. 7 -->
                    <div class="tp-caption skewfromright customout link-1 bg-brand height-50"
                         data-x="965"
                         data-y="650"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="800"
                         data-start="1500"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 8">
                    </div>

                    <!-- LAYER NR. 8s -->
                    <div class="tp-caption skewfromright customout link-1 link-2 height-50"
                         data-x="1156"
                         data-y="650"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="1500"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 8">
                    </div>
                </li>
                <!-- SLIDER -->
                <!-- SLIDE  -->
                <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="assets/images/2.jpg" alt="Futurelife-home2-slideshow" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption large_normal_grey font-re color-brand skewfromleft customout size-36"
                         data-x="1090"
                         data-y="450"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="800"
                         data-start="1600"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 9">
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption large_bold_grey font-re color-white skewfromright customout size-140"
                         data-x="875"
                         data-y="520"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="800"
                         data-start="1700"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 7">
                    </div>

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption large_normal_grey font-re color-brand skewfromleft customout size-36"
                         data-x="1010"
                         data-y="630"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="500"
                         data-start="1000"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 7">
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption large_normal_grey color-white skewfromleft customout size-36"
                         data-x="1214"
                         data-y="630"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="1500"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 7">
                    </div>
                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption welcome size-16 skewfromright customout"
                         data-x="1120"
                         data-y="680"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1500"
                         data-start="1800"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="on"
                         style="z-index: 7">
                    </div>
                </li>
                <!-- SLIDER -->
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
    <div class="main-content">
        <div class="container space-50 wrap-hermes-collection padding-5">
            <div class="hermes-collection hermes-collection-home1">
                <div class="container">
                    <div class="col-md-4">
                        <h3>Hermes Collection</h3>
                        <p>New collection</p>
                        <a asp-page="/Catalog" title="View All">View All</a>
                    </div>
                    <!-- End col-md-3   -->
                    <div class="col-md-8">
                        <div class="slider-hermes-collection">
                            @{
                                foreach (var car in Model.Product)
                                {
                                    <div class="item hover-effect-images">
                                        <a asp-page="/Order" asp-route-id="@car.idProduct" title="Collection">
                                            <img src="@car.imageProdusct" alt="Collection">
                                        </a>
                                    </div>

                                }

                            }
                        </div>
                        <!-- End slider collection -->
                    </div>
                    <!-- End col-md-6 -->
                </div>
            </div>
            <!-- End hermes collecttion -->
        </div>
        <!-- End conainer -->

    </div>
    <div class="container">
        <div class="title-text">
            <h3>Our products</h3>
        </div>
        <!-- End title text -->
        <div class="slider-product our-new-product">
            <div class="tab-container space-10">
                <div id="tab_1" class="tab-content">
                    <div class="product-tab-content products">
                        @{
                            foreach (var car in Model.Product)
                            {
                                <div class="item-inner">
                                    <div class="product">
                                        <a class="product-images" asp-page="/Order" asp-route-id="@car.idProduct" title="">
                                            <img class="primary_image" src="@car.imageProdusct" alt="" />
                                            <img class="secondary_image" src="@car.imageProdusct" alt="" />
                                        </a>
                                        <p class="product-title">@car.nameProduct</p>
                                        <p class="product-price">$ @car.priceProduct</p>

                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <!-- End product-tab-content products-->
                </div>
                <!-- End Tables -->
                <!-- End OurNewProduct -->
            </div>
        </div>
    </div>
 
    <!-- End container -->
</body>

